<div class="main-content">
  <div class="section-content section-content-p30">
    <h3>Your reservations</h3>

    <div *ngIf="reservationHistoryList.length>0">
      <table class="table table-bordered">
        <tr>
          <th width="10%">Reservation Id</th>
          <th width="10%">Car </th>
          <th width="10%">Total Fee</th>
          <th width="10%">Start date</th>
          <th width="10%">End date</th>
        </tr>
        <tr *ngFor="let tempReservationHistory of reservationHistoryList">
          <td>{{tempReservationHistory.id}}</td>
          <td>{{tempReservationHistory.car.brand}} {{tempReservationHistory.car.model}} </td>
          <td>{{tempReservationHistory.totalFee}} </td>
          <td>{{tempReservationHistory.startDate}}</td>
          <td>{{tempReservationHistory.endDate}}</td>
            <div *ngIf="reservationHistoryList.length==0" class="alert alert-warning col-md-12" role="alert">
              No Reservation found
            </div>

        </tr>
      </table>
    </div>
  </div>
</div>
