<div *ngIf="isLoaded" class="main-content">
  <div class="container-fluid">

    <div class="d-flex align-items-baseline">
      <h2>{{car.brand}}</h2>
      <h3>&nbsp; {{car.model}}</h3>
    </div>

    <img src="{{car.imageUrl}}" class="detail-img">

    <div class="price">{{car.dailyFee | currency:'PLN'}} PER DAY</div>

    <hr>

    <h4>Description</h4>
    <p>{{car.description}}</p>
    <p>Year of production: {{car.yearOfProduction}}</p>

    <div class="mt-3 d-flex">
      <a routerLink="/car-type/{{car.carType.id}}/{{car.carType.carType}}" class="btn btn-primary">Back to Car's
        List</a>
      &nbsp; &nbsp;
      <button class="btn btn-primary" routerLink="/rent/{{car.id}}">Rent Car</button>

    </div>

  </div>