.security-btn {
  position: relative;
  right: 0;
  min-width: 95px;
  color: white;
  border: 1px solid #002B5B;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 43px;
  background: #002B5B;
}

.login-status-header {
  display: flex;
}

.login-status-user-info {
  line-height: 43px;
  background-color: white;

  font-size: 14px;
  color: #002B5B;
  padding: 0 17px;
  border: radius 3px;
  transition: all .5s ease;
}