<div class="main-content">
  <div class="section-content section-content-p30">
    <h4>Car type: {{currentType}}</h4>
    <hr>


    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let tempCar of cars" class="col-md-3 mt-3">
          <div class="product-box">
            <a routerLink="/cars/{{tempCar.id}}"> <img src="{{tempCar.imageUrl}}" alt="" class="" img-responsive></a>
          </div>
          <div>
            <a routerLink="/cars/{{tempCar.id}}">
              <h1>{{tempCar.brand}} </h1>
            </a>
            <a routerLink="/cars/{{tempCar.id}}">
              <h3>&nbsp; {{tempCar.model}}</h3>
            </a>
          </div>

          <div class="price">
            {{tempCar.dailyFee | currency:'PLN'}} per day
          </div>


          <button routerLink="/cars/{{tempCar.id}}" class="btn btn-primary btn-sm">More details</button>
        </div>

      </div>
    </div>

  </div>
</div>