<div class="page-wrapper">

  <!-- Menu sidebar -->

  <aside class="menu-sidebar d-non d-lg-block">
    <div class="logo">
      <a routerLink="/cars">

        <img src="images/logo.png" alt="car rental" class="img-responsive">

      </a>

    </div>
    <app-car-category-menu></app-car-category-menu>
  </aside>

  <!-- End menu side bar -->
  <div class="page-container">
    <!-- Header Desktop -->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="conatiner-flid">
          <div class="header-wrap">
            <app-search></app-search>
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- End Header Desktop -->

    <!-- Main Concten -->
    <router-outlet></router-outlet>


  </div>
</div>


<footer>
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer>