<div *ngIf="isLoaded" class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="conatiner-fluid">

      <h3>{{car.brand}} {{car.model}}</h3>
      <div class="price">{{car.dailyFee | currency:'PLN'}}</div>

      <hr>
      <h4>Description</h4>
      <p>{{car.fuelCategory.description}}</p>


      <h1>Reserve car:</h1>

      <br>

      <form [formGroup]="rentFormGroup" (ngSubmit)="onSubmit()">
      
        <div formGroupName="reservation" class="form-area">
          <h3>Reservation</h3>
          <!-- reception -->
          <div class="row">
            <div class="col-md-2"><label>Reception date</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="receptionDate" type="date">
                <div *ngIf="receptionDate?.invalid && (receptionDate?.dirty || receptionDate?.touched)"
                  class="alert alert-danger mt-1">

                  <div *ngIf="receptionDate?.errors?.['required'] ">
                    Reception date is required
                  </div>
                  <div *ngIf="receptionDate?.errors?.['dateBeforeNow']">
                    Reception date have to be today or after
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- return -->
          <div class="row">
            <div class="col-md-2"><label>Return date</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="returnDate" type="date">
                <div *ngIf="returnDate?.invalid && (returnDate?.dirty || returnDate?.touched)"
                  class="alert alert-danger mt-1">

                  <div *ngIf="returnDate?.errors?.['required'] ">
                    Return date is required
                  </div>
                  <div *ngIf="returnDate?.errors?.['dateBeforeReception']">
                    Return date have to after reception date
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>

        <!-- Customer -->

        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>
          <!-- First name -->
          <div class="row">
            <div class="col-md-2"><label for="">First Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="firstName" type="text">
                <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)"
                  class="alert alert-danger mt-1">

                  <div *ngIf="firstName?.errors?.['required'] || firstName?.errors?.['notOnlyWhitespace']">
                    First Name is required
                  </div>

                  <div *ngIf="firstName?.errors?.['minlength']">
                    First Name must be at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Last name -->
          <div class="row">
            <div class="col-md-2"> <label>Last Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="lastName" type="text">

                <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)"
                  class="alert alert-danger mt-1">

                  <div *ngIf="lastName?.errors?.['required'] || lastName?.errors?.['notOnlyWhitespace']">
                    Last Name is required
                  </div>

                  <div *ngIf="lastName?.errors?.['minlength']">
                    Last Name must be at least 2 characters long
                  </div>

                </div>

              </div>
            </div>
          </div>
          <!-- email -->

          <div class="row">
            <div class="col-md-2"> <label>Email</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="email" type="text">

                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger mt-1">

                  <div *ngIf="email?.errors?.['required']">
                    Email is required
                  </div>

                  <div *ngIf="email?.errors?.['pattern']">
                    Email must be a valid email address format
                  </div>

                </div>

              </div>
            </div>
          </div>
          <!-- Country -->

          <div class="row">
            <div class="col-md-2"> <label>Country</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="country" type="text">

                <div *ngIf="country?.invalid && (country?.dirty || country?.touched)" class="alert alert-danger mt-1">

                  <div *ngIf="country?.errors?.['required']">
                    country is ['required']
                  </div>


                  <div *ngIf="country?.errors?.['minlength']">
                    Country must be at least 2 characters long
                  </div>

                </div>

              </div>
            </div>
          </div>

        </div>
        <!-- credit card -->
        <!-- <div class="form-area" formGroupName="creditCard">
          <h3>Credit or Debit Card</h3>
          <div id="card-element">

          </div>
          <div id="card-errors" class="displayError.textContent!=='' : 'alert alert-danger mt-1'">

          </div>

        </div> -->

        <div class="form-area">
          <h3>Review Your Reservation </h3>

        </div>


        <button class="btn btn-primary">Reserve</button>
      </form>


    </div>
  </div>
</div>